/* Declarations */
@font-face {
    font-family: Roboto;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2');
}

@keyframes bounce {
    0% {
        transform: translateY(0px)
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-1px);
    }
    75% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Links */
a {
    color: #dbf3ff;
    text-decoration: none;
}

a:visited {
    color: lightgray;

}

.bounce {
    display: inline-flex;
}

.bounce:visited {
    color: lightgray;
}

.bounce:hover {
    cursor: pointer;
    animation: bounce 1s cubic-bezier(0, 0.5, 1, 1.5);
}

/* General */

body {
    align-items: center;
    background-color: #333333;
    color: whitesmoke;
    display: block;
    font-family: monospace;
    font-size: 1.25vmax;
    margin: 2%;
}

.logo {
    font-family: Roboto, monospace;
    font-size: 10vmax;
    text-align: center;

    padding-left: 40px;
    padding-right: 40px;
    left: auto;
    right: 0;
    position: fixed;
    z-index: 100000;
}

.title {
    font-size: 3vmax;
    margin-bottom: 2vmax;
}

.linkedin {
    height: 1.4vmax;
}

.icon {
    min-width: 2.5vmax;
    max-height: 1.5vmax;
}

li {
    width: fit-content;
}

.img-container .img-sm {
    height: 7vmax;
}

.img-container {
    padding: 10px;
}

.img-lg {
    display: none;
}

.inline {
    display: inline-flex;
}

.no-padding {
    padding: 0;
}

.details {
    position: fixed;
    right: 0;
    bottom: 0;
    color: gray !important;
    padding: 5px;
}

/* Content pages */

.content {
    display: none;
}

.content:target {
    animation: fadeIn 0.5s ease-out;
    display: block;
    border: 1px solid #222222;
    background-color: #333333;
    box-shadow: 5px 5px 5px #181818;
    opacity: 1;
    font-size: 1vmax;

    max-width: 80vw;
    position: fixed;
    height: 70vh;
    width: 700px;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 20px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: 0;
    padding: 5% 10vmax 5% 5%;
}

.img-container:hover .img-lg {
    animation: fadeIn 0.5s ease-out;
    margin-top: 5%;
    border: 1px solid #222222;
    box-shadow: 5px 5px 5px #181818;

    display: block;
    position: fixed;
    height: 80%;
    left: 15px;
    top: 0;
}

.img-container .label {
    font-size: 1vmax;
}

.images {
    margin-top: 15px;
    display: inline-flex;
    text-align: center;
    flex-wrap: wrap;
}

.quote {
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}