/* Declarations */
@font-face {
    font-family: Roboto;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2');
    font-display: swap;
}

@keyframes bounce {
    0% {
        transform: translateY(0px)
    }
    25% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(-1px);
    }
    75% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Links */
a {
    color: #dbf3ff;
    text-decoration: none;
}

a.vibrant {
    color: #ccffff;
    text-decoration: none;
    font-weight: bold;
}


a:visited {
    color: lightgray;

}

.bounce {
    display: inline-flex;
}

.bounce:visited {
    color: lightgray;
}

.bounce:hover {
    cursor: pointer;
    animation: bounce 1s cubic-bezier(0, 0.5, 1, 1.5);
}

/* General */

body {
    align-items: center;
    background-color: #333333;
    color: whitesmoke;
    display: block;
    font-family: monospace;
    font-size: max(1.25vmax, 1em);
    margin: 2%;
}

.logo {
    font-family: Roboto, monospace;
    font-size: max(5vmax, 2.5em);
    text-align: center;

    background-color: #333333;
    left: auto;
    right: 0;

    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 5px 5px 5px #333333;
    border-radius: 5px;


    margin-right: 2%;
    margin-top: 1%;
    position: fixed;
    z-index: 100000;
}

.title {
    font-size: 3vmax;
    margin-bottom: 2vmax;
}

.linkedin {
    height: 2em;
}

.icon {
    min-width: 1.75em;
}

.icon img {
    max-width: 1em;
}

li {
    width: fit-content;
}

.img-container .img-sm {
    height: 7vmax;
    border: 1px solid #111111;
}

.img-container {
    padding: 10px;
    flex: 1;
    flex-basis: 25%;
}

.img-lg {
    display: none;
}

.img-lg.img-transparent {
    background-color: rgba(50,50,50,.9);
}

.inline {
    display: inline-flex;
}

.no-padding {
    padding: 0;
}

.details {
    position: fixed;
    right: 0;
    bottom: 0;
    color: gray !important;
    padding: 10px;
}

/* Content pages */

.content {
    display: none;
}

.content:target {
    animation: fadeIn 0.5s ease-out;
    display: block;
    border: 1px solid #222222;
    background-color: #333333;
    box-shadow: 5px 5px 5px #181818;
    opacity: 1;
    font-size: 1em;

    max-width: 70vw;
    position: fixed;
    height: 85%;
    width: 700px;
    overflow: auto;
    left: 0;
    top: 0;
    right: 0;
    margin-top: 2%;
    margin-left: auto;
    margin-right: 1%;
    padding: 2% 10vmax 0% 5%;
}

.img-container:hover .img-lg {
    animation: fadeIn 0.5s ease-out;
    margin-top: 5%;
    border: 1px solid #222222;
    box-shadow: 5px 5px 5px #181818;

    display: block;
    position: fixed;
    width: min(700px, 100vw);
    left: 15px;
    top: 0;
}

.img-container .label {
    font-size: .75em;
}

.images {
    margin-top: 15px;
    display: inline-flex;
    text-align: center;
    flex-flow: row wrap;
}

.quote {
    color: white;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.vertspacer {
    min-height: 1em;
} 
