@font-face {
    font-family: Roboto;
    src: url('Roboto-Regular.ttf');
}

@keyframes bounce {
    0% { transform: translateY(-3px) }
    25% { transform: translateY(-7px); }
    50% { transform: translateY(-5px); }
    75% { transform: translateY(-9px); }
    100% { transform: translateY(0px); }
}

body {
    display: block;
    align-items: center;
    background-color: #333333;
    color: whitesmoke;
    font-family: monospace;
    font-size: 1vmax;
}

.logo {
    font-family: Roboto, monospace;
    font-size: 10vmax;
    padding-left: 40px;
    padding-right: 40px;
    float: right;
    text-align: center;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    color: lightgray;
}

li:hover .bounce, li:active .bounce {
    animation: bounce 1s cubic-bezier(0, 0.5, 1, 1.5);
}

.title {
    font-size: 3vmax;
}

.name {
    font-size: 1.5vmax;
}

.linkedin {
    height: 1vmax;
}

.content {
    display: none;
    opacity: 0;

}

li {
    width: fit-content;
}

.hoverfolio:hover .content, .hoverfolio:active .content {
    display: block;
    position: absolute;
    width: 60vw;
    height: 70vh;
    top: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    padding: 5%;
    background-color: #333333;
    box-shadow: 5px 5px 5px #181818;
    opacity: 1;
}